#ocultar_cabecera, .breadcrumb, #footer, .ocultar_impresion{ display: none !important; }
.container{ margin-top:0px !important; padding-top:0px; top:0; }
#wrap > .container{ padding-top:0px !important; }
body, p, td, th{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #000;
  background: #fff;
}
body a{ color:000 !important; }
.btn_sistema{ display:none !important; }
h1,h2,h2,h3,h4,h5,h6{ margin:2px; }
ul,ol{ margin-bottom:2px !important; }