body{
	font-size:15px !important;
}
a{
	font-size:15px !important;
}
.table a{
	font-size:18px !important;
}
.table{
	font-size:18px !important;
}
.btn-large{
	font-size:25px !important;
}  
.btn-warning{
	color:#FFF !important;
} 
.wrap{
	padding-top:0px;
}